@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.prompt {
  display: block;
  opacity: 0;
  margin: 4rem auto;
  border-radius: 5px;
  border: 0;
  padding: 0 0.5rem;
  width: 100%;
  max-width: 15rem;
  background-color: #0073a8;
  color: #fff !important;
  font-size: 1.25rem;
  font-style: italic;
  line-height: 3;
  letter-spacing: 0.05rem;
  text-align: center;
  cursor: pointer;
  pointer-events: none;
  transition: 0.5s opacity;
  will-change: opacity;
}

.prompt ~ :not(:global(.MasterGallery)) {
  opacity: 1;
  animation: 1.5s enter cubic-bezier(0.86, 0, 0.07, 1); /* easeInOutQuint */
  will-change: opacity;
}

.prompt ~ .prompt {
  opacity: 0;
}

.prompt.isUnused {
  opacity: 1;
  pointer-events: all;
}

.prompt.isUnused ~ :not(:global(.MasterGallery)) {
  display: none;
  animation: none;
  opacity: 0;
}

[data-mount][id='endtellmeanother'] {
  margin-bottom: 6rem;
}

.prompt ~ [data-mount][id='endtellmeanother'] ~ :not(:global(.MasterGallery)) {
  display: block;
  animation: none;
  opacity: 1;
}
